@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to top right,white, rgb(255, 198, 198),rgb(195, 255, 195),rgb(188, 188, 255));
}

